*, html {
  box-sizing: content-box;
}

body {
  font-size: 1.618rem;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  margin: 0;
  background-color: rgb(153, 198, 193);
  text-shadow: #fff 0px 1px 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0 0 1rem 0;
  font-weight: 500;
}

img {
  max-width: 100%;
}

code {
  background-color: #dfdfdf;
  padding: 1rem 0.5rem;
}

a, a:visited, a:active {
  color: olive;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

a.active {
  text-decoration: underline;
}

a:hover {
  text-shadow: lightgreen 0px 1px 1px;
}

button {
  background-color: rgb(219, 229, 180);
  color: #111;
  font-size: 1rem;
  border: 1px solid #dfdfdf;
  padding: 4px 8px;
  outline: none;
  box-shadow: 2px 3px #aaa;
  text-shadow: #fff 0px 1px 1px;
  border-radius: 5px;
  position: relative;
  bottom: 2px;
}

button:hover {
  opacity: 0.8;
}

button:active {
  box-shadow: 2px 3px #666;
}

input {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  border: 1px solid #dfdfdf;
  padding: 5px 8px;
  border-radius: 5px;
}

header {
  padding: 1.618rem 0;
  background-color: rgb(219, 229, 180);
}

nav a {
  margin-right: 1.618rem;
}

nav, main, footer div {
  max-width: 750px;
  margin: 0 auto;
}

main {
  padding: 1.618rem;
  margin-top: 1.618rem;
  background-color: rgb(253, 252, 240);
  border: 1px solid #aaa;
  box-shadow: 5px 7px #aaa;
}

footer {
  font-size: 80%;
  color: #666;
  padding: 1.618rem 0;
}
